#weakDoge {
  
  width: 100
    
}
.cent{
  text-align: center;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

